/* CSS Rules for Odin-recipe website */

    #background-home { 
    Background-image: URL(~~~); 
    Background-repeat: no-repeat; 
    Background-attachment: fixed; 
    Background-size: cover; 
    } 
    
    #background-recipe { 
    Background-color: rgb(204,204,205); 
    Background-repeat:no-repeat; 
    Background-attachment:fixed; 
    Background-size:cover; 
    }

    .body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: medium;
        color: black;
    }

    .header, 
    .header-main { 
    Font-size: x-large; 
    } 
    
     .header { 
    Font-size: large; 
    Font-weight:bold; 
    } 
    
    .section { 
    Word-wrap: break-word; 
    }

    .tight-box {
        width:500px;
    }

    Div, .section { 
    Box-sizing: border-box;
    background-color: rgb(153,255,153); 
    margin: auto;
    Width: 750px; 
    Height: auto; 
    Padding: 25px; 
    Border: 10px solid black; 
    }

    div, .section, #tight-box {
     width:500px;
    }

    .nav { 
    Color: solid green; 
    } 
    
     .nav, 
    .odin { 
    Box-sizing: border-box;
    background-color: rgb(255,166,177); 
    margin: auto;
    Width: 300px; 
    Height: 100px; 
    Padding: 30px; 
    Border: 10px solid blue; 
    } 